<header>
  <h1><a href="/">Code Archive</a></h1>
  <div class="site-tagline">Dahoon's Programming Blog</div>
  <div class="site-description">Let's Groove!</div>
  
  <div id="navBlock" role="navigation">
    <nav class="main-nav">
      <ul>
        <li class="nav-home">
            <a href="/">Home</a>
        </li>
        <li class="nav-about">
          <a href="/about">About</a>
        </li>
        <li class="nav-archive">
            <a href="/archive">Archive</a>
        </li>
        <li>
          <a href="mailto:hoonjd@gmail.com">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>