---
layout: default
---
<h2 div class="pages-title">{{page.title}}<h2>

  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}

  <div class="archive">
    <h2 class="archive-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="archive-meta">
      <span class="time">{{ post.date | date_to_long_string }} &nbsp;∵&nbsp;</span>
      {% for tag in post.tags %}
      <span class="tags"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></span>
      {% endfor %}
    </div>
  </div>

  {% endif %}
  {% endfor %}
  {% endfor %}

<script>
  $(document).ready(function() {
    $(".nav-archive").addClass("active-link");
  });
</script>